
.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  margin-top: 50px;
}

.custom-table {
  width: 90%; /* Custom width */
  max-width: 60%; /* Max width */
  border-collapse: collapse;
  text-align: left;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: middle; /* Aligns the content vertically in the middle */
}

.custom-table th {
  background-color: #f2f2f2;
  text-align: center;
}

.task-item {
  background-color: #fff; /* Set background color for all table rows */
}

.task-item.completed {
  background-color: #f0f0f0; /* Optionally different color for completed tasks */
}

.task-content {
  text-align: center; /* Aligns task content to the center */
}

.action-buttons {
  display: flex;
  justify-content: flex-end; /* Aligns action buttons to the end */
  align-items: center; /* Centers action buttons vertically */
}

.button-group {
  display: flex;
  gap: 5px;
  justify-content: center; /* Centers buttons horizontally within their container */
  width: 100%;
}

button {
  margin: 0;
}

.task-item.completed span {
  text-decoration: line-through;
  color: black;
}

.task-item span {
  margin: 0;
  font-size: 1em;
}
h1{
  text-align: center;
  margin-top: 30px;
}
